* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;

}
/* HEADER */
.header {
    width: 100%;
    background-color: #292929;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0px;
    z-index: 11;
}
.container-header {
    width: 1000px;
    padding: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.under-header {
    width: 460px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px auto;
}
.input-search {
    width: 360px;
    height: 36px;
    outline: none;
    appearance: none;
    border: none;
    padding-left: 10px;

    background-color: #fff;
    margin-right: 10px;
    
}
.search-form {
    display: flex;
    align-items: center;
}
.lk {
    color: #fff;
}
.lk:hover {
    color: #00C2FF;

    transition: ease 0.2s;
}

.btn {
    box-sizing: border-box;

    background: #00C2FF;
    padding: 7px 20px;

    color: #fff;
}
.btn:hover {
    box-sizing: border-box;

    background: #008BC6;
    padding: 7px 20px;
    transition: ease 0.2s;

    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

/* ЗАКАЗЫ */
.zakazy {
    margin: 0px auto;

    width: 1130px;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
}
.zakaz {
    width: 350px;
    height: 220px;

    margin: 10px;

    background: #FFFFFF;
    box-shadow: 0px 4px 17px 1px rgba(47, 23, 76, 0.2);
    padding: 15px;
}
.ava-fio-time {
    display: flex;
}
.ava {
    width: 70px;
    height: 70px;

    border-radius: 100% ;
}
.fio-time {
    margin-left: 20px;
}
#namePerson {
    font-weight: bold;
}
.prosba-content > p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
    margin: 10px 0px;
}
.oplata-conect-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nal-card {
    color: green;
}


/*Личный кабинет*/
.ava-fio-lk{
    display: flex;

    align-items: center;
    flex-direction: column;
}
.btn_flex {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.ava-fio-time-lk{
    margin-left: 20px;
    margin-top: 25px;
}
.ava-lk {
    width: 150px;
    height: 150px;

}
.content-lk {
    width: 560px;
    height: 100vh;

    background: #FFFFFF;
    box-shadow: 0px 4px 67px rgb(0 73 115 / 10%);

    margin: 0px auto;
    padding: 60px 80px;
}
/* СВЯЗЬ!! */
.connect {
    display: flex;

    margin-top: 30px;
    margin-bottom: 30px ;
}
.name-soc-club {
    width: 200px;
    height: 37px;
    
    background: #FFFFFF;
    border: 2px solid #00C2FF;
    color: #00C2FF;

    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-connect {
    box-sizing: border-box;

    background: #00C2FF;
    padding: 7px 62px;

    color: #fff;
}
.btn-connect:hover {
    box-sizing: border-box;

    background: #008BC6;
    padding: 7px 62px;
    transition: ease 0.2s;

    color: #fff;
}
.btn-add {
    width: 400px;
    display: flex;
    justify-content: end;
}
.background-shadow {
    position: absolute;
    width: 100%;
    height: 105%;
    background: rgba(0, 0, 0, 0.55);

    display: flex;
    justify-content: center;
    align-items: center;


}

.fly-window-add {
    width: 600px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;

    background: #fff;
    box-shadow: 0px 4px 67px rgb(0 73 115 / 10%);

    position: absolute;
    top: 400px;
    left: 700px;
    display: block;
    
}

/*Label заказов*/
#heightbtn {
    padding: 15px 100px;
}

/* ОКНО СОЗДАНИЯ ЗАКАЗА */
.pop-up {
    width: 350px;
    height: 560px;

    background-color: #fff;

    position: absolute;
    top: 172px;
    right: 28.4em;

    padding: 15px;
    box-shadow: 0px 4px 67px rgb(0 73 115 / 10%);

}
/* страна город */
option {
    width: 150px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    font-size: 17px;
}
.cc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
select {
    width: 150px;
    height: 40px;
    padding-left: 5px;
    outline: none;

    background-color: #FFFFFF;
}
#marg-l {
    margin-left: 0.3em;
}
#fontsize {
    font-size: 14px;
    margin-bottom: 5px;
}
.text-zakaz {
    height: 20em;
    background-color: #fff;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    min-height: 300px;
    
    margin-top: 15px;

    outline: none;

    text-align: left;
}

/* МОДАЛЬНЫЕ ОКНА*/
/* Важная часть */
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
    z-index: 1;
}

.popup__bg.active { 
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active { 
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}
/* Конец важной части */
/* Далее код для стилизации формы */
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 2em;
    height: 2em;
}

.popup label {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #cfd0d3;
    margin: 1em 0 1em 0;
}


.popup input {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
    border-bottom: 1px solid #2982ff;
}

.popup input:focus + .label__text {
    color: #2982ff;
}

.popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-top: 5px;
}

.popup textarea:focus {
    border-bottom: 1px solid #2982ff;
}

.popup textarea:focus + .label__text {
    color: #2982ff;
}

.popup button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid #2982ff;
    background: #2982ff;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.popup button:hover {
    background: #fff;
    color:#2982ff;
    transition: 0.5s all;
}
/*Конец модального окна*/

/* МОДАЛЬНЫЕ ОКНА 2 */
.pop-up1 {
    width: 350px;
    height: 560px;

    background-color: #fff;

    position: absolute;
    top: 172px;
    right: 28.4em;

    padding: 15px;
    box-shadow: 0px 4px 67px rgb(0 73 115 / 10%);

}
/* страна город */
option {
    width: 150px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    font-size: 17px;
}
.cc1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
select {
    width: 150px;
    height: 40px;
    padding-left: 5px;
    outline: none;

    background-color: #FFFFFF;
}
#marg-l1 {
    margin-left: 0.3em;
}
#fontsize1 {
    font-size: 14px;
    margin-bottom: 5px;
}
.text-zakaz1 {
    height: 20em;
    background-color: #fff;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    min-height: 300px;
    
    margin-top: 15px;

    outline: none;

    text-align: left;
}

/* МОДАЛЬНЫЕ ОКНА*/
/* Важная часть */
.popup__bg1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
}

.popup__bg.active1 { 
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
}

.popup1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active1 { 
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}
/* Конец важной части */
/* Далее код для стилизации формы */
.close-popup1 {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 2em;
    height: 2em;
}

.popup1 label {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.popup1 .label__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #cfd0d3;
    margin: 1em 0 1em 0;
}


.popup1 input {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.popup1 input:focus {
    border-bottom: 1px solid #2982ff;
}

.popup1 input:focus + .label__text {
    color: #2982ff;
}

.popup1 textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-top: 5px;
}

.popup1 textarea:focus {
    border-bottom: 1px solid #2982ff;
}

.popup1 textarea:focus + .label__text {
    color: #2982ff;
}

.popup1 button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid #2982ff;
    background: #2982ff;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.popup1 button:hover {
    background: #fff;
    color:#2982ff;
    transition: 0.5s all;
}

/*Конец модального окна*/


footer {
    width: 100%;
    height: 70px;

    background-color: #292929;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 20px;
    padding-right: 26em;

    position: fixed;
    bottom: 0px;

    
}

/* ТАБЛИЦА */
.table {
    width: 610px;
    height: 310px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0 auto;

}
.head_table {
    background-color: var(--btn_main);
    border-collapse: collapse;
}
th {
    padding: 0px 4.49em;
    color: var(--text_in_btn);
}
td {
text-align: center;
}
.dropdown-menu.show {
    display: block;
    width: 180%;
}

